* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  font-style: normal;
  font-size: unset;
}

ul {
  list-style-type: none;
}

input {
  all: unset;
  border: none;
  cursor: pointer;
}

input[disabled] {
  background-color: transparent;
}

button {
  all: unset;
  outline: revert;
  cursor: pointer;
  text-align: center;
}

select {
  appearance: none;
  line-height: normal;
  background: url('data:image/svg+xml;utf8,<svg viewBox="0 0 10 7" fill="#3077C6" xmlns="http://www.w3.org/2000/svg"><path d="M1.175 0L5 3.86302L8.825 0L10 1.18927L5 6.25L0 1.18927L1.175 0Z" fill="#3077C6"/></svg>') no-repeat right 12px;
}

a:link,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}
